click==6.6
Flask==0.12
Flask-SQLAlchemy==2.1
iniherit==0.3.6
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
py==1.4.32
pyhash==0.6.3
PyMySQL==0.7.9
pytest==3.0.5
python-slugify==1.2.1
six==1.10.0
SQLAlchemy==1.1.4
Unidecode==0.4.19
Werkzeug==0.11.11
yoyo-migrations==5.0.4
